name: CI - Build
on: push
permissions:
  contents: write
  
jobs:
  poetry:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8"]
        poetry-version: ["1.3.2"]
        os: [ubuntu-18.04]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          
      - name: Run image
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: ${{ matrix.poetry-version }}
          
      - name: Poetry install requirements
        run: poetry install
        
      - name: Poetry tests
        run: poetry run pytest --cov
        
      - name: Running mypy
        run: poetry run mypy src/
        
      - name: Running pylint
        run: poetry run pylint src/
        
      - name: Poetry build package
        run: poetry build

      - name: Generating doxygen xml
        uses: mattnotmitt/doxygen-action@v1.9.5
        
      - name: Sphinx file generation
        run: poetry run sphinx-build -b html source/ docs/
      
      - uses: seanzhengw/sphinx-pages@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          create_readme: false
