name: CI - Build
on: push

jobs:
  poetry:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8"]
        poetry-version: ["1.3.2"]
        os: [ubuntu-18.04]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          
      - name: Run image
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: ${{ matrix.poetry-version }}
          
      - name: Poetry install requirements
        run: poetry install
        
      - name: Poetry build package
        run: poetry build

      - name: Generating doxygen xml
        uses: mattnotmitt/doxygen-action@v1.9.5
        
      - name: Sphinx file generation
        run: poetry run sphinx-build -b html source/ docs/
